@model Models.Note
@{
    ViewData["Title"] = "Create";
}

<h1>Edit</h1>

<form method="post" asp-action="Edit">
    <h2>Upate a note</h2>
    <label asp-for="Name">Name</label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <br />
    <label asp-for="Value">Value</label>
    <input asp-for="Value" />
    <span asp-validation-for="Value"></span>
    <br />
    <label asp-for="Priority">Priority</label>
    <input asp-for="Priority" />
    <span asp-validation-for="Priority"></span>
    <br />
    <button type="submit">Update</button>
    <a asp-controller="Note" asp-action="Index">Back to list</a>
</form>