@model Models.Note
@{
    ViewData["Title"] = "Create";
}

<h1>Edit</h1>


<form method="post" asp-action="Edit">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" asp-validation-for="Name" type="text" class="form-control" >
    </div>
    <div class="form-group">
        <label asp-for="Value">Example textarea</label>
        <textarea asp-for="Value"  asp-validation-for="Value" class="form-control"  rows="3"></textarea>
    </div>
    <div class="form-group">
        <label asp-for ="Priority">Select priority</label>
        <select asp-for="Priority" asp-validation-for="Priority" class="form-control" >
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a type="button" class="btn btn-link" asp-controller="Note" asp-action="Index">Back to list</a>
</form>